<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbtech.iaaas.mbg.mapper.AcDepositAndWithdrawalMapper">
  <resultMap id="BaseResultMap" type="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wallet_card_link_id" jdbcType="INTEGER" property="walletCardLinkId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="security_code" jdbcType="VARCHAR" property="securityCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, wallet_card_link_id, username, type, money, security_code, create_time
  </sql>
  <select id="selectByExample" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_deposit_and_withdrawal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac_deposit_and_withdrawal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ac_deposit_and_withdrawal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawalExample">
    delete from ac_deposit_and_withdrawal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_deposit_and_withdrawal (wallet_card_link_id, username, type, 
      money, security_code, create_time
      )
    values (#{walletCardLinkId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{money,jdbcType=INTEGER}, #{securityCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawal">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_deposit_and_withdrawal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="walletCardLinkId != null">
        wallet_card_link_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="securityCode != null">
        security_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="walletCardLinkId != null">
        #{walletCardLinkId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="securityCode != null">
        #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawalExample" resultType="java.lang.Long">
    select count(*) from ac_deposit_and_withdrawal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ac_deposit_and_withdrawal
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.walletCardLinkId != null">
        wallet_card_link_id = #{record.walletCardLinkId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.securityCode != null">
        security_code = #{record.securityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ac_deposit_and_withdrawal
    set id = #{record.id,jdbcType=INTEGER},
      wallet_card_link_id = #{record.walletCardLinkId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=TINYINT},
      money = #{record.money,jdbcType=INTEGER},
      security_code = #{record.securityCode,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawal">
    update ac_deposit_and_withdrawal
    <set>
      <if test="walletCardLinkId != null">
        wallet_card_link_id = #{walletCardLinkId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="securityCode != null">
        security_code = #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gbtech.iaaas.mbg.model.AcDepositAndWithdrawal">
    update ac_deposit_and_withdrawal
    set wallet_card_link_id = #{walletCardLinkId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      money = #{money,jdbcType=INTEGER},
      security_code = #{securityCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>