<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbtech.iaaas.mbg.mapper.AcFeeOrderMapper">
  <resultMap id="BaseResultMap" type="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="order_title" jdbcType="VARCHAR" property="orderTitle" />
    <result column="amounts_payable" jdbcType="INTEGER" property="amountsPayable" />
    <result column="arrears" jdbcType="INTEGER" property="arrears" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="deadline" jdbcType="DATE" property="deadline" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    <result column="order_detail" jdbcType="LONGVARCHAR" property="orderDetail" />
    <result column="order_flow_records" jdbcType="LONGVARCHAR" property="orderFlowRecords" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, room_id, user_id, username, order_title, amounts_payable, arrears, status, deadline, 
    payment_time, create_time
  </sql>
  <sql id="Blob_Column_List">
    order_detail, order_flow_records
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrderExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ac_fee_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_fee_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ac_fee_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ac_fee_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrderExample">
    delete from ac_fee_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_fee_order (room_id, user_id, username, 
      order_title, amounts_payable, arrears, 
      status, deadline, payment_time, 
      create_time, order_detail, order_flow_records
      )
    values (#{roomId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{orderTitle,jdbcType=VARCHAR}, #{amountsPayable,jdbcType=INTEGER}, #{arrears,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{deadline,jdbcType=DATE}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{orderDetail,jdbcType=LONGVARCHAR}, #{orderFlowRecords,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ac_fee_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="orderTitle != null">
        order_title,
      </if>
      <if test="amountsPayable != null">
        amounts_payable,
      </if>
      <if test="arrears != null">
        arrears,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="paymentTime != null">
        payment_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="orderDetail != null">
        order_detail,
      </if>
      <if test="orderFlowRecords != null">
        order_flow_records,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="orderTitle != null">
        #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="amountsPayable != null">
        #{amountsPayable,jdbcType=INTEGER},
      </if>
      <if test="arrears != null">
        #{arrears,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=DATE},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDetail != null">
        #{orderDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="orderFlowRecords != null">
        #{orderFlowRecords,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrderExample" resultType="java.lang.Long">
    select count(*) from ac_fee_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ac_fee_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.orderTitle != null">
        order_title = #{record.orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.amountsPayable != null">
        amounts_payable = #{record.amountsPayable,jdbcType=INTEGER},
      </if>
      <if test="record.arrears != null">
        arrears = #{record.arrears,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.deadline != null">
        deadline = #{record.deadline,jdbcType=DATE},
      </if>
      <if test="record.paymentTime != null">
        payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderDetail != null">
        order_detail = #{record.orderDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.orderFlowRecords != null">
        order_flow_records = #{record.orderFlowRecords,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ac_fee_order
    set id = #{record.id,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      order_title = #{record.orderTitle,jdbcType=VARCHAR},
      amounts_payable = #{record.amountsPayable,jdbcType=INTEGER},
      arrears = #{record.arrears,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      deadline = #{record.deadline,jdbcType=DATE},
      payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      order_detail = #{record.orderDetail,jdbcType=LONGVARCHAR},
      order_flow_records = #{record.orderFlowRecords,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ac_fee_order
    set id = #{record.id,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      order_title = #{record.orderTitle,jdbcType=VARCHAR},
      amounts_payable = #{record.amountsPayable,jdbcType=INTEGER},
      arrears = #{record.arrears,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      deadline = #{record.deadline,jdbcType=DATE},
      payment_time = #{record.paymentTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    update ac_fee_order
    <set>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="orderTitle != null">
        order_title = #{orderTitle,jdbcType=VARCHAR},
      </if>
      <if test="amountsPayable != null">
        amounts_payable = #{amountsPayable,jdbcType=INTEGER},
      </if>
      <if test="arrears != null">
        arrears = #{arrears,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=DATE},
      </if>
      <if test="paymentTime != null">
        payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderDetail != null">
        order_detail = #{orderDetail,jdbcType=LONGVARCHAR},
      </if>
      <if test="orderFlowRecords != null">
        order_flow_records = #{orderFlowRecords,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    update ac_fee_order
    set room_id = #{roomId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      order_title = #{orderTitle,jdbcType=VARCHAR},
      amounts_payable = #{amountsPayable,jdbcType=INTEGER},
      arrears = #{arrears,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      deadline = #{deadline,jdbcType=DATE},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      order_detail = #{orderDetail,jdbcType=LONGVARCHAR},
      order_flow_records = #{orderFlowRecords,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gbtech.iaaas.mbg.model.AcFeeOrder">
    update ac_fee_order
    set room_id = #{roomId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      order_title = #{orderTitle,jdbcType=VARCHAR},
      amounts_payable = #{amountsPayable,jdbcType=INTEGER},
      arrears = #{arrears,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      deadline = #{deadline,jdbcType=DATE},
      payment_time = #{paymentTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>